* {
	font-family: Georgia, serif;
	color: #EB2355;
	text-align: center;
}
body {
	width: 960px;
	margin: 0 auto;
}

nav {
background-color: #EF7FB1;
padding: 10px;
margin: 10px;
}

li {
	display: inline;
	padding: 5px;
}

section{
	overflow: auto;
	height: 100%;
}

main{
	background-color:#FFFFFF;
	padding: 10px;
	margin: 10px;
}
article{
	background-color:#EF7FB1;
	padding: 10px;
	margin: 10px;
	width: 280px;
	float: inline-end;
	text-align: left
}
.mart {
	background-color:#76736A;
	width: 300px;
	padding: 40px;

}

.mart2 {
	width:400px;
	padding: 5px;
	background-color:#FFFFFF;
	text-align: left;
	float: left;
}

footer{background-color: :#FFFFFF;
	padding: 5px;
	margin: 10px;	
}
